[submodule "src/logger"]
	path = src/logger
	url = git@github.com:MikhailBerezhanov/Logger.git
[submodule "3rd_party/AMQP-CPP-4.3.15"]
	path = 3rd_party/AMQP-CPP-4.3.15
	url = git@github.com:CopernicaMarketingSoftware/AMQP-CPP.git
